.container {
  position: relative;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  .name {
    font-size: 25px;
    font-weight: 700;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.contentContainer {
  display: flex;
  gap: 20px;
}

.imgContainer {
  width: 100px;
  img {
    background-color: #ededed;
    border-radius: 5px;
    width: 100px;
  }
}

.emojiSelect {
  padding: 20px;
  height: 400px;
  background-color: white;
  .emojis {
    display: flex;
    justify-content: space-evenly;
    label {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      span {
        font-size: 100px;
        margin-bottom: 10px;
      }
    }
  }
}
