.userCardContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  .content {
    display: grid;
    grid-template-rows: 1fr 1fr 1.2fr;
    gap: 10px;
    div {
      display: flex;
      gap: 10px;
      h2 {
        font-size: 20px;
      }
    }
  }
}
