.modalContainer {
  width: 50vw;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diaryContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: solid 1px #ededed;
  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 25px;
      font-weight: 700;
      span {
        padding-left: 20px;
        font-size: 40px;
      }
    }
    .like {
      display: flex;
      gap: 10px;
    }
  }
  .contentContainer {
    display: flex;
    padding: 20px;
    img {
      width: 200px;
      border-radius: 5px;
    }
  }

  .diaryInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .userInfo {
      display: flex;
      gap: 10px;
      align-items: center;
      div {
        font-weight: 700;
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  p {
    background-color: white;
    height: 200px;
    padding: 20px;
  }
}
