.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .commentItemContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    .userInfo {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.commentAddcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input {
  width: 100%;
}

.replayAddcontainer {
  padding-left: 40px;
  flex-direction: row;
  display: flex;
  gap: 10px;
}

.btns {
  display: flex;
  gap: 10px;
  button {
    width: 50px;
    padding: 5px;
  }
}
