.modalContainer {
  width: 50vw;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diaryContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: solid 1px black;
  .titles {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 25px;
      font-weight: 700;
    }
    .like {
      display: flex;
      gap: 10px;
    }
  }
  .diaryInfo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .userInfo {
      display: flex;
      gap: 10px;
      align-items: center;
      div {
        font-weight: 700;
      }
      img {
        width: 30px;
      }
    }
  }
  p {
    background-color: white;
    height: 200px;
    padding: 20px;
  }
}
