@import '../../../styles/variables.scss';

.monthBlock {
  display: flex;
  justify-content: space-between;
}

.dayBlock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.calendarBlock {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  height: map-get($sizes, vh);
  width: 50vw;
}
