@import '../../../styles/variables.scss';

.tabContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    width: 170px;
    text-align: center;
    background-color: #ededed;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    &.active {
      background-color: map-get($colors, point);
    }
  }
}
