@import '../../../styles/variables.scss';

.diaryBlock {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
  .nav {
    display: flex;
    font-size: 15px;
    gap: 5px;
    input {
      width: 20px;
      display: inline-block;
    }
    div {
      width: 130px;
    }
  }
  .diaryListBlock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(2, 280px);
    gap: 20px;
  }
}

.dairyItem {
  position: relative;
  border: 1px solid map-get($colors, bg);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  .emoji {
    font-size: 100px;
    line-height: 200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    h3 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      height: calc(15px * 10);
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .like {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
  .userInfo {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }
  }
}
