@import '../../../styles/variables.scss';

.diaryBlock {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  height: 88vh;
  .nav {
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    gap: 5px;
    .head {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      h2 {
        font-size: 20px;
        font-weight: 700;
      }
      img {
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        &:hover {
          background-color: #ededed;
        }
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      input {
        width: 20px;
      }
      div {
        width: 140px;
      }
    }
  }
  .diaryListBlock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(2, 310px);
    gap: 20px;
  }
}

.dairyItem {
  position: relative;
  border: 1px solid map-get($colors, bg);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  .emoji {
    font-size: 100px;
    line-height: 200px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    h3 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 5px;
    }
    p {
      font-size: 15px;
      height: calc(15px * 10);
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .like {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
  .userInfo {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
    }
  }
}
