.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인프레임 */
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 405px;
  height: 305px;
  background-image: url('../assets/signupFrame.png');
}

.formGroup {
  margin-bottom: 20px;
}

.submitButton {
  background-color: #e17171;
  color: white;
  padding: 10px 20px;
  width: 320px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  width: 270px;
  height: 50px;
  background-color: #844444;
  border-radius: 0 5px 5px 0;
  border: none;
}

input::-webkit-input-placeholder {
  color: #fff;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.inputGroup .box1 {
  width: 50px;
  height: 50px;
  background-image: url('../assets/email.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  font-size: 30px;
}

.inputGroup .box2 {
  width: 50px;
  height: 50px;
  background-image: url('../assets/passwrd.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  font-size: 30px;
}
