@import '../../../styles/variables.scss';

.myCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    width: 400px;
    height: 400px;
  }
  .show {
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
      display: grid;
      grid-template-columns: 100px 300px;
      gap: 10px;
    }
    h2 {
      font-size: 20px;
    }
    p {
      height: 100px;
    }
  }
  .btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.diaryList {
  width: 100%;
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px;
  .listBlock {
    gap: 20px;
    display: grid;
    grid-template-rows: repeat(15, 25px);
  }
  h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
}

.diaryItem {
  background-color: map-get($colors, bg);
  border-radius: 5px;
  display: grid;
  gap: 40px;
  grid-template-columns: 0.2fr 2fr 1fr;
  div {
    font-size: 20px;
  }
  .index {
    text-align: right;
  }
}
