@import '../../../styles/variables.scss';

.block {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  h2 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
  }
  .nav {
    display: flex;
    font-size: 15px;
    gap: 5px;
    input {
      width: 20px;
      display: inline-block;
    }
    div {
      width: 130px;
    }
  }
  .listBlock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(2, 310px);
    gap: 20px;
  }
}

.item {
  border: 1px solid map-get($colors, bg);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: map-get($colors, bg);
  }
  .friendBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &.red {
      background-color: rgb(146, 53, 53);
    }
  }
  div {
    position: relative;
    display: flex;
    justify-content: center;
    .emoji {
      position: absolute;
      font-size: 100px;
      right: 0px;
      bottom: 0px;
    }
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 700;
    }
    .description {
      padding: 10px;
      overflow: hidden;
      height: 50px;
    }
  }
}
