.block {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.first {
  height: 80vh;
}
.second {
  div {
    align-items: center;
  }
}

.fourth {
  img {
    width: 600px;
  }
}

.fifth {
  flex-direction: column;
  .wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .btns {
    display: flex;
    gap: 20px;
  }
}
.textBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text {
  font-size: 20px;
  span {
    font-size: 25px;
    font-weight: 700;
  }
}

.white {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: white;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

.animation {
  animation: moveUpAndDown 2s forwards;
}

.emojis {
  display: flex;
  gap: 20px;
}

.emoji {
  font-size: 120px;
  &:hover {
    animation: moveUpAndDown 2s infinite;
  }
}

.thirdBoxImg {
  position: relative;
  width: 500px;
  img {
    width: 100%;
    height: auto;
  }
  &::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url('../../../assets/calendar.jpeg');
    background-position: center center;
    z-index: -1;
  }
}
