.chatBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.new {
  position: fixed;
  bottom: 45px;
  left: 85px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(185, 0, 0);
}
