@import '../../styles/variables.scss';

.header {
  height: $headerHeight;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: map-get($spacing, large);
  z-index: 9999;
  div,
  a {
    font-weight: 700;
  }

  > div,
  > nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .logoContainer {
    width: 10%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 25px;
    img {
      width: 40px;
    }
  }
  .navContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
    a {
      width: 200px;
      text-align: center;
      padding: 10px;
      border-radius: 30px;
      &:hover {
        font-size: 17px;
        background-color: #ededed;
      }
      &.active {
        background-color: map-get($colors, bg);
        font-size: 17px;
      }
    }
  }
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    div {
      font-size: 17px;
      font-weight: 400;
    }
  }
}

.footer {
  width: 100%;
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #686868;
  .textContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.reqListContainer {
  position: fixed;
  background-color: white;
  border: 2px solid map-get($colors, point);
  top: $headerHeight;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  .selects {
    display: flex;
    button {
      width: 100%;
      height: 30px;
      font-weight: 700;
      background-color: map-get($colors, point);
    }
    .ban {
      background-color: white;
    }
  }
  .itemList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .reqItemContainer {
      display: flex;
      justify-content: space-between;
      border: 1px solid map-get($colors, point);
      padding: 10px 15px;
      border-radius: 5px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
