@import '../../styles/variables.scss';

.header {
  height: $headerHeight;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: map-get($spacing, large);
  z-index: 9999;
  div,
  a {
    font-weight: 700;
  }

  > div,
  > nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .logoContainer {
    width: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .navContainer {
    width: 25%;
    display: flex;
    justify-content: space-between;
    button {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
    }
    div {
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.footer {
  width: 100%;
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #686868;
  .textContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.reqListContainer {
  position: fixed;
  background-color: white;
  border: 2px solid map-get($colors, point);
  top: $headerHeight;
  right: 0;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  .selects {
    display: flex;
    button {
      width: 100%;
      height: 30px;
    }
    .ban {
      background-color: map-get($colors, point);
      cursor: not-allowed;
    }
  }
}

.reqItemContainer {
  display: flex;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
