$headerHeight: 5.5vh;
$footerHeight: 20vh;

$colors: (
  // 배경 색상
  bg: #e8ddc5,
  // 포인트 컬러
  point: #e9c578
);

$sizes: (
  // 컴포넌트 높이
  vh: 80vh
);

$spacing: (
  small: 8px,
  medium: 16px,
  large: 24px,
);

$fontSizes: (
  small: 12px,
  medium: 16px,
  large: 24px,
);
