@import '../../styles/variables.scss';

.header {
  height: $headerHeight;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: map-get($spacing, large);
  div,
  a {
    font-weight: 700;
  }

  > div,
  > nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .logoContainer {
    width: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .navContainer {
    width: 25%;
    display: flex;
    justify-content: space-between;
    button {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 30px;
      height: 30px;
    }
    div {
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #686868;
  .textContainer {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}
